<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% trans %}Edit part %id%{% endtrans %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <h2>{% trans %}Edit part %id%{% endtrans %}</h2>
        <a href="{{ path('homepage') }}">{% trans %}Homepage{% endtrans %}</a>
        {{ form(form) }}
    </body>
</html>