{% extends 'StorekeeperInventoryBundle:Default:base.html.twig' %}

{% block title %}{% trans %}View stats parts{% endtrans %}{% endblock %}

{% block body %}
    <ul>
        <li>Parts records: {{ stats }}</li>
    </ul>
{% endblock %}