{% extends 'StorekeeperInventoryBundle:Default:base.html.twig' %}

{% block title %}{% trans %}View part %id%{% endtrans %}{% endblock %}

{% block body %}
    <a href="{{ path('homepage') }}" class="btn btn-primary">{% trans %}Homepage{% endtrans %}</a>
    <ul>
        <li>Nom : {{ part.name }}</li>
        <li>Description : {{ part.description }}</li>
        <li>Code Bar : {{ part.barcode }}</li>
    </ul>
{% endblock %}