<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        {% trans %}Hello{% endtrans %} {{ name }}
        <ul>
            <li><a href="{{ path('part_view', {'id':part.id}) }}">View exemple part 1</a></li>
            <li><a href="{{ path('part_edit', {'id':part.id}) }}">Edit exemple part 1</a></li>
        </ul>
            
    </body>
</html>