{% extends 'StorekeeperInventoryBundle:Default:base.html.twig' %}
{% block title %}Welcome!{% endblock %}
{% block body %}
        <h1>{% trans %}Welcome ! Please select a action.{% endtrans %}</h1>


{% endblock %}