{% extends 'StorekeeperInventoryBundle:Default:base.html.twig' %}
{% block title %}Welcome!{% endblock %}
{% block body %}
        <h1>{% trans %}Welcome ! Please select a action.{% endtrans %}</h1>

        <p><a href="{{ path('part_new') }}" class="btn btn-primary">{% trans %}Add a new part{% endtrans %}</a><a href="{{ path('part_stats') }}" class="btn btn-primary">{% trans %}View part statistics{% endtrans %}</a></p>
        
        <p><a href="{{ path('part_view', {'id':part.id}) }}" class="btn btn-primary">{% trans %}View exemple part 1{% endtrans %}</a><a href="{{ path('part_edit', {'id':part.id}) }}" class="btn btn-primary">{% trans %}Edit exemple part 1{% endtrans %}</a></p>
{% endblock %}